body {
  background-color: #8e2708;
  background-image: url("images/page-theme/3306160.jpeg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}
.counters {
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-slots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;

  margin: 1vh 15vw;
}

.play-pile {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px;
  width: 4.0em;
  height: 5.5em;
  font-size: 52px; 
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px;
  width: 4.0em;
  height: 5.5em;
  background-color: #eedeaf;
  border-radius: 0.20em;
  border: 1px solid #111;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 52px; 
  box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75); 
}

.aceDiamonds {
  background-image: url("images/diamonds/diamonds-A.svg"); 
}

.kingDiamonds {
  background-image: url("images/diamonds/diamonds-K.svg"); 
}

.queenDiamonds {
  background-image: url("images/diamonds/diamonds-Q.svg"); 
}

.jackDiamonds {
  background-image: url("images/diamonds/diamonds-J.svg"); 
}

.tenDiamonds {
  background-image: url("images/diamonds/diamonds-r10.svg"); 
}

.nineDiamonds {
  background-image: url("images/diamonds/diamonds-r09.svg"); 
}

.eightDiamonds {
  background-image: url("images/diamonds/diamonds-r08.svg"); 
}

.sevenDiamonds {
  background-image: url("images/diamonds/diamonds-r07.svg"); 
}

.sixDiamonds {
  background-image: url("images/diamonds/diamonds-r06.svg"); 
}

.fiveDiamonds {
  background-image: url("images/diamonds/diamonds-r05.svg"); 
}

.fourDiamonds {
  background-image: url("images/diamonds/diamonds-r04.svg"); 
}

.threeDiamonds {
  background-image: url("images/diamonds/diamonds-r03.svg"); 
}

.twoDiamonds {
  background-image: url("images/diamonds/diamonds-r02.svg"); 
}

.aceHearts {
  background-image: url("images/hearts/hearts-A.svg"); 
}

.kingHearts {
  background-image: url("images/hearts/hearts-K.svg"); 
}

.queenHearts {
  background-image: url("images/hearts/hearts-Q.svg"); 
}

.jackHearts {
  background-image: url("images/hearts/hearts-J.svg"); 
}

.tenHearts {
  background-image: url("images/hearts/hearts-r10.svg"); 
}

.nineHearts {
  background-image: url("images/hearts/hearts-r09.svg"); 
}

.eightHearts {
  background-image: url("images/hearts/hearts-r08.svg"); 
}

.sevenHearts {
  background-image: url("images/hearts/hearts-r07.svg"); 
}

.sixHearts {
  background-image: url("images/hearts/hearts-r06.svg"); 
}

.fiveHearts {
  background-image: url("images/hearts/hearts-r05.svg"); 
}

.fourHearts {
  background-image: url("images/hearts/hearts-r04.svg"); 
}

.threeHearts {
  background-image: url("images/hearts/hearts-r03.svg"); 
}

.twoHearts {
  background-image: url("images/hearts/hearts-r02.svg"); 
}

.aceSpades {
  background-image: url("images/spades/spades-A.svg"); 
}

.kingSpades {
  background-image: url("images/spades/spades-K.svg"); 
}

.queenSpades {
  background-image: url("images/spades/spades-Q.svg"); 
}

.jackSpades {
  background-image: url("images/spades/spades-J.svg"); 
}

.tenSpades {
  background-image: url("images/spades/spades-r10.svg"); 
}

.nineSpades {
  background-image: url("images/spades/spades-r09.svg"); 
}

.eightSpades {
  background-image: url("images/spades/spades-r08.svg"); 
}

.sevenSpades {
  background-image: url("images/spades/spades-r07.svg"); 
}

.sixSpades {
  background-image: url("images/spades/spades-r06.svg"); 
}

.fiveSpades {
  background-image: url("images/spades/spades-r05.svg"); 
}

.fourSpades {
  background-image: url("images/spades/spades-r04.svg"); 
}

.threeSpades {
  background-image: url("images/spades/spades-r03.svg"); 
}

.twoSpades {
  background-image: url("images/spades/spades-r02.svg"); 
}

.aceClubs {
  background-image: url("images/clubs/clubs-A.svg"); 
}

.kingClubs {
  background-image: url("images/clubs/clubs-K.svg"); 
}

.queenClubs {
  background-image: url("images/clubs/clubs-Q.svg"); 
}

.jackClubs {
  background-image: url("images/clubs/clubs-J.svg"); 
}

.tenClubs {
  background-image: url("images/clubs/clubs-r10.svg"); 
}

.nineClubs {
  background-image: url("images/clubs/clubs-r09.svg"); 
}

.eightClubs {
  background-image: url("images/clubs/clubs-r08.svg"); 
}

.sevenClubs {
  background-image: url("images/clubs/clubs-r07.svg"); 
}

.sixClubs {
  background-image: url("images/clubs/clubs-r06.svg"); 
}

.fiveClubs {
  background-image: url("images/clubs/clubs-r05.svg"); 
}

.fourClubs {
  background-image: url("images/clubs/clubs-r04.svg"); 
}

.threeClubs {
  background-image: url("images/clubs/clubs-r03.svg"); 
}

.twoClubs {
  background-image: url("images/clubs/clubs-r02.svg"); 
}

.card.back {
  background-image: url("images/backs/blue.svg"); 
}

.card.back-blue {
  background-image: url("images/backs/blue.svg"); 
}

.card.back-red {
  background-image: url("images/backs/red.svg"); 
}

/* Re-orients the cards for different directions. While
   they are symmetric, it's still important to orient
   them correctly in case text or other symbols are
   layered on them with CSS pseudo-selectors, new
   classes/rules, etc. */
.card.west,
.card.W {
  transform: rotate(90deg);
  margin: auto 0.75em; }
  .card.west.shadow,
  .card.W.shadow {
    box-shadow: 2px -2px 3px 0 rgba(41, 41, 41, 0.75); }

.card.north,
.card.N {
  transform: rotate(180deg); }
  .card.north.shadow,
  .card.N.shadow {
    box-shadow: -2px -2px 3px 0 rgba(41, 41, 41, 0.75); }

.card.east,
.card.E {
  transform: rotate(270deg);
  margin: auto 0.75em; }
  .card.east.shadow,
  .card.E.shadow {
    box-shadow: -2px 2px 3px 0 rgba(41, 41, 41, 0.75); }

/* .rules {
  margin: auto 20vw;
} */